<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ezground.teamproject.FacilityMapper">
  	
  	<!-- 사업자가 시설등록 요청 -->
  		<insert id="facilityInsert" 
				parameterType="com.ezground.teamproject.facilitydto.Facility">
				INSERT
				INTO t_facility(member_no
								,facility_name
								,facility_phone
								,facility_address
								,facility_notice
								,facility_detail
								,facility_price
								,facility_refund
								,facility_rule
								,facility_licensee_no
								,facility_return
								,facility_status
								,facility_write_date)
				VALUES(#{memberNo}
						,#{facilityName}
						,#{facilityPhone}
						,#{facilityAddress}
						,#{facilityNotice}
						,#{facilityDetail}
						,#{facilityPrice}
						,#{facilityRefund}
						,#{facilityRule}
						,#{facilityLicenseeNo}
						,#{facilityReturn}
						,#{facilityStatus}
						,now())
			<selectKey keyProperty="facilityNo" resultType="int" order="AFTER">
				SELECT LAST_INSERT_ID()
			</selectKey>			
		</insert>
		
	<!-- 사업자 자신이 신청한 시설등록 요청내역 조회  -->
		<select id = "memberfacilitySelectList"
				resultType="com.ezground.teamproject.facilitydto.Facility">
				SELECT
					facility_name AS facilityName
					,facility_no AS facilityNo				
					,facility_phone AS facilityPhone
					,facility_address AS facilityAddress
					,facility_notice AS facilityNotice
					,facility_detail AS FacilityDetail
					,facility_price AS facilityPrice
					,facility_refund AS facilityRefund
					,facility_rule AS facilityRule
					,facility_licensee_no AS facilityLicenseeNo
					,facility_return AS facilityReturn
					,facility_status AS facilityStatus
					,facility_write_date AS facilityWriteDate
				FROM t_facility 
				WHERE member_no = #{memberNo}
		</select>
	
	<!-- 사업자가 시설 등록 신청요청한 정보 수정 -->
		<select id="facilitySelectOne"
				resultType="com.ezground.teamproject.facilitydto.Facility">
				SELECT
					facility_name AS facilityName
					,facility_no AS facilityNo				
					,facility_phone AS facilityPhone
					,facility_address AS facilityAddress
					,facility_notice AS facilityNotice
					,facility_detail AS facilityDetail
					,facility_price AS facilityPrice
					,facility_refund AS facilityRefund
					,facility_rule AS facilityRule
					,facility_licensee_no AS facilityLicenseeNo
					,facility_return AS facilityReturn
					,facility_status AS facilityStatus
					,facility_write_date AS facilityWriteDate
				FROM t_facility 
				WHERE facility_no = #{facilityNo}
		</select>
		
	<!-- 시설 수정 등록 처리  -->
		<update id = "facilityInsertUpdate"
			parameterType = "com.ezground.teamproject.facilitydto.Facility">
			UPDATE t_facility
				SET facility_name = #{facilityName}
					,facility_phone = #{facilityPhone}
					,facility_address = #{facilityAddress}
					,facility_notice = #{facilityNotice}
					,facility_detail = #{facilityDetail}
					,facility_price = #{facilityPrice}
					,facility_refund = #{facilityRefund}
					,facility_rule = #{facilityRule}
					,facility_licensee_no = #{facilityLicenseeNo}
				WHERE facility_no = #{facilityNo}
		</update>
		
	<!-- 시설 이미지 등록 처리 -->
		<insert id = "facilityImageInsert"
			parameterType = "com.ezground.teamproject.facilitydto.FacilityImage">
			INSERT
				INTO t_facility_image(facility_no
									   ,image_path
									   ,image_original_name
									   ,image_random_name
									   ,image_ext
									   ,image_date)
				VALUES (#{facilityNo}
						,#{imagePath}
						,#{imageOriginalName}
						,#{imageRandomName}
						,#{imageExt}
						,now())
		</insert>
		
		<!-- 구장 등록화면에 종목 뿌려주기 -->
		<select id = "selectSportEntriesName"
				resultType="com.ezground.teamproject.dto.SportEntries">
				SELECT 
					sportEntries_no AS sportEntriesNo
					,sportEntriesname AS sportEntriesName
				FROM t_sport_entries
		</select>
		
		<!-- 구장 등록이 가능한 시설 리스트 -->
		<select id = "facilityFieldPage"
				resultType="com.ezground.teamproject.facilitydto.Facility">
				SELECT
					facility_name AS facilityName
					,facility_no AS facilityNo				
					,facility_phone AS facilityPhone
					,facility_address AS facilityAddress
					,facility_notice AS facilityNotice
					,facility_detail AS FacilityDetail
					,facility_price AS facilityPrice
					,facility_refund AS facilityRefund
					,facility_rule AS facilityRule
					,facility_licensee_no AS facilityLicenseeNo
					,facility_return AS facilityReturn
					,facility_status AS facilityStatus
					,facility_write_date AS facilityWriteDate
				FROM t_facility 
				WHERE member_no = #{memberNo}
		</select>	
		
		<select id = "facilityFieldInserPage"
				resultType="com.ezground.teamproject.facilitydto.Facility">
				SELECT
					facility_no AS facilityNo
					FROM t_facility
					WHERE facility_no = #{facilityNo}
		</select>
		
		<!-- 구장 등록 처리 -->
		<insert id = "fieldInsert"
			parameterType="com.ezground.teamproject.facilitydto.FacilityField">
			INSERT
				INTO t_facility_field(facility_no
									,sport_entries_name
									,field_name
									,field_size
									,field_price
									,field_number
									,field_write_date)
				VALUES(#{facilityNo}
						,#{sportEntriesName}
						,#{fieldName}
						,#{fieldSize}
						,#{fieldPrice}
						,#{fieldNumber}
						,now())
		</insert>
	
  </mapper>