<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.ezground.teamproject.matchRecode.MatchRecodeMapper">
 
 	<!-- 날짜와 접속한 사업자(시설관리자)로 진행된 경기를 조회하여 리스트화한다. -->
 	<select id="matchRecodeBusinessSelectList"
 			parameterType="java.util.Map"
 			resultType="com.ezground.teamproject.matchRecode.dto.MatchRecodeFieldList">
 		SELECT
			f.facility_no as facilityNo,
			f.facility_name as facilityName,
			t.field_no as fieldNo,
			t.field_name as fieldName,
			f.member_no as memberNo,
			r.match_notice_no as matchNoticeNo,
			r.reservation_no as reservationNo,
			r.calendar_date as calendarDate,
			r.calendar_start_time as calendarStartTime,
			r.calendar_end_time as calendarEndTime
		FROM t_facility f INNER JOIN t_facility_field t INNER JOIN t_reservation r
		ON f.facility_no = t.facility_no AND t.field_no = r.field_no
		WHERE f.member_no = #{memberNo}
		<if test="reservationDay != null">
			AND r.calendar_date = #{reservationDay}
		</if>
		<if test="reservationDay == null">
			AND r.calendar_date = CURDATE()
		</if>			
		ORDER BY r.calendar_start_time DESC							
 	</select>
 	
 	<!-- -->
 	<select id="reservationSelectOne"
 			resultType="com.ezground.teamproject.reservation.dto.Reservation">
 		SELECT 
			match_notice_no AS matchNoticeNo,
			sport_entries_no AS sportEntriesNo,
			team_no AS teamNo,
			reservation_no AS reservationNo			
		FROM t_reservation
		WHERE reservation_no = #{reservationNo} 	
 	</select>
 	
 	<!--  -->
 	<select id="matchJoinMemberSelectList"
 			resultType="com.ezground.teamproject.matchRecode.dto.MatchRecodeInfo">
 		SELECT 
 			j.match_join_member_no AS matchJoinMemberNo,
			j.match_notice_no AS matchNoticeNo,
			j.member_no AS memberNo,
			j.team_no AS teamNo,
			j.home_away AS homeAway,
			m.member_name AS memberName
		FROM t_match_join_member j INNER JOIN t_member m
		ON j.member_no = m.member_no
		WHERE match_notice_no = #{matchNoticeNo} AND (home_away = 'home' or home_away = 'away')
 	
 	</select>
 
 </mapper>