<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.ezground.teamproject.board.BoardMapper">
	
	<!--  -->
	<select id="boardListSelectPage"
			parameterType="com.ezground.teamproject.board.dto.BoardPage"
			resultType="com.ezground.teamproject.board.dto.BoardSelectResult">
		SELECT 
			b.board_no AS boardNo,
			b.board_category_no AS boardCategoryNo,
			b.member_no AS memberNo,
			b.board_order AS boardOrder,
			b.board_depth AS boardDepth,
			b.board_title AS boardTitle,
			b.board_content AS boardContent,
			b.board_regDate AS boardRegDate,
			b.board_viewCount AS boardViewCount,
			c.board_category_name AS boardCategoryName,
			m.member_id AS memberId
		FROM t_board b INNER JOIN t_board_category c INNER JOIN t_member m
		ON b.board_category_no = c.board_category_no AND b.member_no = m.member_no
		WHERE b.board_category_no = #{boardCategoryNo}
		<if test="searchWord != null">
			AND b.board_title LIKE CONCAT('%',#{searchWord},'%')
		</if>
		ORDER BY b.board_no DESC
		LIMIT #{startRow}, #{rowPerPage} 		
	</select>
	
	<!--  -->
	<select id="boardListSelectTotalCount"
  			resultType="int">
  		SELECT 
  			count(*) 
  		FROM t_board
  		WHERE board_category_no = #{boardCategoryNo}
  	</select>
  	
  	<!--  -->
  	<insert id="boardInsert"
  			parameterType="com.ezground.teamproject.board.dto.Board">
  		INSERT INTO t_board(
  			board_category_no,
  			member_no,
  			board_title,
  			board_content,
  			board_regDate)
  		VALUES(
  			#{boardCategoryNo},
  			#{memberNo},
  			#{boardTitle},
  			#{boardContent},
  			now())  	
  	</insert>
  	
  	<!--  -->
  	<select id="boardSelectOneBYboardNo"
  			resultType="com.ezground.teamproject.board.dto.Board">
  		SELECT 
			board_no AS boardNo,
			board_category_no AS boardCategoryNo,
			member_no AS memberNo,
			board_order AS boardOrder,
			board_depth AS boardDepth,
			board_title AS boardTitle,
			board_content AS boardContent,
			board_regDate AS boardRegDate,
			board_viewCount AS boardViewCount		
		FROM t_board
  		WHERE board_no = #{boardNo}
  	</select>
  	
  	<!--  -->
  	<update id="boardAddViewCount"
  			parameterType="com.ezground.teamproject.board.dto.Board">
  		UPDATE t_board
  		SET
  			board_viewCount = #{boardViewCount}
  		WHERE board_no = #{boardNo}  	
  	</update>
  	
  	<!--  -->
  	
  	
  	
  	
  	
  	<!--  -->
  	<update id="boardUpdate"
  			parameterType="com.ezground.teamproject.board.dto.Board">
  		UPDATE t_board
  		SET
  			board_title = #{boardTitle},
  			board_content = #{boardContent},
  			board_regDate = now()
  		WHERE board_no = #{boardNo}  	
  	</update>  	
  	
  	<!--  -->
  	<delete id="boardDelete">
  		DELETE 
  		FROM t_board
  		WHERE board_no = #{boardNo}
  	</delete>

</mapper>