<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.ezground.teamproject.match.MatchMapper">
 
 	<!-- 종목번호와 맴버번호로 팀번호를 판별하는 쿼리문 -->
 	<select id="teamNoSelectOne"
 			parameterType="java.util.Map"
 			resultType="Integer">
		SELECT 
			m.team_no as teamNo		
		FROM t_team_member m INNER JOIN t_team t
		ON m.team_no = t.team_no
		WHERE t.sport_entries_no = #{sportEntriesNo} and m.member_no = #{memberNo}
	</select>
	
	<!-- 매치공고 정보를 생성하는 쿼리문 -->
	<insert id="matchNoticeInsert"
			parameterType="com.ezground.teamproject.match.dto.MatchNotice">
		INSERT INTO t_match_notice(
			match_expected_day, 
			match_expected_start_time,
			match_expected_end_time,
			sport_entries_no, 
			member_no,
			match_kinds,
			match_notice_region,
			match_notice_status,
			match_member_count, 
			match_notice_insert_date, 
			match_notice_update_date)			
		VALUES (
			#{matchExpectedDay},
			#{matchExpectedStartTime},
			#{matchExpectedEndTime},
			#{sportEntriesNo}, 
			#{memberNo}, 
			#{matchKinds},
			#{matchNoticeRegion},
			#{matchNoticeStatus},
			#{matchMemberCount},
			now(),
			now())
		<selectKey keyProperty="matchNoticeNo" resultType="int" order="AFTER">
				SELECT LAST_INSERT_ID()
		</selectKey>		
	</insert>
	
	<!-- 매치 참가 맴버 정보에 팀 참가 맴버 정보 입력 쿼리문 -->
	<insert id="matchJoinMemberInsert"
			parameterType="com.ezground.teamproject.match.dto.MatchJoinMember">
		INSERT INTO t_match_join_member(
			match_notice_no,
			team_no,
			member_no,
			home_away)
		VALUES (#{matchNoticeNo},
				#{teamNo},
				#{memberNo},
				#{homeAway})
	</insert>
	
	<!--  -->
	<delete id="matchJoinMemberDelete"
			parameterType="java.util.Map">
		DELETE 
		FROM t_match_join_member
		WHERE match_notice_no = #{matchNoticeNo} AND member_no = #{memberNo}	
	
	</delete>
	
	<!-- 매치공고 정보를 조회하는 쿼리문 -->
 	<select id="matchSelectList" 	
 			parameterType="com.ezground.teamproject.match.dto.MatchNoticeAndMatchJoinMember"		
 			resultType="com.ezground.teamproject.match.dto.MatchNotice">
		SELECT 
			n.match_notice_no AS matchNoticeNo,
			n.match_expected_day AS matchExpectedDay, 
			n.match_expected_start_time AS matchExpectedStartTime,
			n.match_expected_end_time AS matchExpectedEndTime,
			n.member_no AS memberNo, 
			n.match_notice_status AS matchNoticeStatus,
			n.match_kinds AS matchKinds,
			n.match_notice_region AS matchNoticeRegion, 
			n.match_member_count AS matchMemberCount, 
			n.match_notice_insert_date AS matchNoticeInsertDate,
			j.team_no AS teamNo,
			j.home_away AS homeAway
		FROM t_match_notice AS n INNER JOIN t_match_join_member AS j
			 ON n.match_notice_no = j.match_notice_no	
		WHERE sport_entries_no = #{sportEntriesNo}		
			<if test="matchExpectedDay == null">
				AND match_expected_day > now() 
			</if>
			<if test="matchExpectedDay != null">
				AND match_expected_day >= #{ matchExpectedDay}
			</if>
			<if test="matchKinds != 'all'">
				AND match_kinds = #{matchKinds}
			</if>
			<if test="matchNoticeStatus != null">
				AND match_notice_status = #{matchNoticeStatus}
			</if>
			<if test="homeAway != null">
				AND home_away = #{homeAway}
			</if>
			<if test="matchMemberCount != 0">
				AND match_member_count = #{matchMemberCount}
			</if>
			<if test="teamNo != 0">
				AND team_no = #{teamNo}
			</if>
			GROUP BY matchNoticeNo
		
	</select>
	
	<!-- 매치공고 상세 정보를 조회하는 쿼리문 -->
 	<select id="matchSelectOne" 			
 			resultType="com.ezground.teamproject.match.dto.MatchNotice">
		SELECT 
			match_notice_no AS matchNoticeNo,
			match_expected_day AS matchExpectedDay, 
			match_expected_start_time AS matchExpectedStartTime,
			match_expected_end_time AS matchExpectedEndTime,
			member_no AS memberNo, 
			match_kinds AS matchKinds,
			match_notice_status AS matchNoticeStatus,
			match_notice_region AS matchNoticeRegion, 
			match_member_count AS matchMemberCount, 
			match_notice_insert_date AS matchNoticeInsertDate			
		FROM t_match_notice	
		WHERE match_notice_no = #{matchNoticeNo}	
	</select>	
	
	<!-- 매치 참가 맴버 아이디 리스트 조회 쿼리문 -->
 	<select id="matchJoinMemberSelectList"
 			parameterType="com.ezground.teamproject.match.dto.MatchJoinMember"
 			resultType="com.ezground.teamproject.member.dto.MemberLogin">
		SELECT 
			m.member_id	AS memberId,
			m.member_no AS memberNo	
		FROM t_match_join_member j INNER JOIN t_member m
		ON j.member_no = m.member_no
		WHERE j.match_notice_no = #{matchNoticeNo}
		<if test="homeAway != null">
				AND j.home_away = #{homeAway}
		</if>
		<if test="teamNo != 0">
				AND j.team_no = #{teamNo}
		</if>
	</select>
	
	<!-- 참가신청 매치의 home or away 판별 쿼리문 -->
 	<select id="matchNoticeSelectHomeAway" 			
 			resultType="int">
		SELECT			
			team_no AS teamNo
		FROM t_match_join_member
		WHERE match_notice_no = #{matchNoticeNo} AND home_away = 'home'
		GROUP BY teamNo
	</select>
	
	<!-- 매치공고 정보를 조회하여 fullcalendar 이벤트리소스 오브젝트 반환 쿼리문 -->
 	<select id="matchSelectListfullcalendar" 	
 			parameterType="java.util.Map"		
 			resultType="com.ezground.teamproject.match.dto.MatchNoticeFullcalendarEvent">
		SELECT 
			match_notice_no AS id,
			match_expected_day AS start,			
			match_kinds AS title				
		FROM t_match_notice	
		WHERE sport_entries_no = #{sprotEntryNo}
		<if test="searchWord != null">
  			AND match_kinds =  #{matchKindsSearchWord}
  		</if>	
	</select>
	
	<!-- 매치공고에 자신이 참가 신청을 햇는지  판별 쿼리문 -->
 	<select id="isMatchJoinMember" 
 			parameterType="java.util.Map"				
 			resultType="com.ezground.teamproject.match.dto.MatchJoinMember">
		SELECT			
			member_no AS memberNo,
			team_no AS teamNo,
			home_away AS homeAway
		FROM t_match_join_member
		WHERE match_notice_no = #{matchNoticeNo} AND member_no = #{memberNo}
	</select>
	
	<!-- 매치공고에 자신이 참가 신청을 햇는지  판별 쿼리문 -->
	<update id="matchNoticeNotice">
		update t_match_notice
		set
			match_notice_status = 'awayTeamWating',
			match_notice_update_date = now()
		where match_notice_no = #{matchNoticeNo}
	</update>
		
 </mapper>