<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.ezground.teamproject.service.LoginMapper">
 
 	<!-- 로그인 체크하는 쿼리문 -->
 	<select id="loginSelectOne" 
 			parameterType="com.ezground.teamproject.member.dto.MemberLogin"
			resultType="com.ezground.teamproject.member.dto.MemberLogin">
		SELECT
			member_no as memberNo,
			member_id as memberId,			
			member_level as memberLevel
		FROM t_member
		WHERE member_id = #{memberId} AND member_pw = #{memberPw} AND member_level = #{memberLevel}	
	</select>
	
	<!-- 스포츠 종목 이름 리스트 조회 쿼리문 -->
	<select id="sportEntriesNameSelectList"  			
			resultType="com.ezground.teamproject.dto.SportEntries">
		SELECT
			sport_entries_no as sportEntriesNo,			
			sport_entries_name as sportEntriesName
		FROM t_sport_entries		
	</select>
	
	<!-- 로그인 체크 처리 쿼리문 -->
 	<select id="loginCheck" 
 			parameterType="com.ezground.teamproject.member.dto.MemberLogin"			
 			resultType="com.ezground.teamproject.member.dto.MemberLogin">
 		SELECT 
 			member_id AS memberId,
 			member_pw AS memberPw
 		FROM t_member
 		WHERE member_id = #{memberId} AND member_level = #{memberLevel}
 	
 	</select>
	
 </mapper>
  