<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ezground.teamproject.reservation.ReservationMapper">
  
  	<select id="fieldSelectPage"
			parameterType="java.util.Map"
			resultMap="FacilityAndFacilityFieldMap">
		SELECT 
			a.field_no 
			,a.field_name 
			,a.field_size 
			,a.field_people_number
			,a.field_price 
			,b.facility_no 
			,b.facility_address
			,c.facility_and_facility_sub_no 		
			,c.sub_name 				
		FROM t_facility b INNER JOIN t_facility_field a	ON a.facility_no = b.facility_no
						  INNER JOIN t_facility_and_facility_sub c ON b.facility_no = c.facility_no 
		WHERE sport_entries_name = #{sportEntriesName}
		<if test="searchWord != null">
			WHERE field_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		ORDER BY a.field_no
		LIMIT #{startRow}, #{rowPerPage}
	
	</select>
	
	<resultMap type="com.ezground.teamproject.facility.dto.FacilityAndFacilityField"
				id="FacilityAndFacilityFieldMap">
		<id column="field_no" property="fieldNo" />
		<result column="field_name" property="fieldName" />
		<result column="field_size" property="fieldSize" />
		<result column="field_people_number" property="fieldPeopleNumber" />
		<result column="field_price" property="fieldPrice" />
		<result column="facility_no" property="facilityNo" />
		<result column="facility_address" property="facilityAddress" />
		<collection property="subs" ofType="com.ezground.teamproject.facility.dto.FacilityAndFacilitySub">
			<id column="facility_and_facility_sub_no" property="facilityAndFacilitySubNo" />
			<result column="sub_name" property="subName" />			
		</collection>
				
	</resultMap>
	


	
	<select id="fieldSelectCount"
  			resultType="int">
  		SELECT 
  			count(*) 
  		FROM t_facility_field
  	</select>
  
  	<select id="fieldSelectListDetail"
  			parameterType="int"
  			resultType="com.ezground.teamproject.facility.dto.FacilityAndFacilityField">
  		SELECT
  			a.field_no AS fieldNo
  			,a.field_name AS fieldName
  			,a.field_size AS fieldSize
  			,a.field_people_number AS fieldPeopleNumber
  			,a.field_price AS fieldPrice
  			,b.facility_no AS facilityNo
  			,b.facility_address AS facilityAddress
  			,b.facility_notice AS facilityNotice
  			,b.facility_detail AS facilityDetail
  			,b.facility_price AS facilityPrice
  			,b.facility_refund AS facilityRefund
  			,b.facility_rule AS facilityRule
  		FROM t_facility_field a INNER JOIN t_facility b
  		ON a.facility_no = b.facility_no
  		WHERE field_no = #{fieldNo}  					
  	</select>  	
  	
  	<select id="reservationSelect"
  			parameterType="com.ezground.teamproject.reservation.dto.Reservation"
  			resultType="com.ezground.teamproject.reservation.dto.Reservation">
  		SELECT
  			a.field_no AS fieldNo
  			,a.field_name AS fieldName
  			,a.field_price AS fieldPrice
  			,b.facility_no AS facilityNo
  			,b.facility_name AS facilityName
  			,b.facility_address AS facilityAddress
  			,c.calendar_no AS calendarNo
  			,c.calendar_start_time AS calendarStartTime
  			,c.calendar_end_time AS calendarEndTime
  			,c.calendar_date AS calendarDate
  		FROM t_facility_field a INNER JOIN t_facility b ON a.facility_no = b.facility_no
  								INNER JOIN t_facility_calendar c ON a.field_no = c.field_no  			 					 
  		WHERE a.field_no = #{fieldNo} AND c.calendar_no = #{calendarNo}  			
  	</select>	  	
  	
  	<insert id="reservationInsert"
  			parameterType="com.ezground.teamproject.reservation.dto.Reservation">
  		INSERT INTO t_reservation(member_no, facility_no, field_no, calendar_no, match_notice_no, team_no, field_name, field_price, facility_name, facility_address, calendar_start_time, calendar_end_time, calendar_date, sport_entries_no, reservation_date, reservation_status)		
  		VALUES (#{memberNo}, #{facilityNo}, #{fieldNo}, #{calendarNo}, #{matchNoticeNo}, #{teamNo}, #{fieldName}, #{fieldPrice}, #{facilityName}, #{facilityAddress}, #{calendarStartTime}, #{calendarEndTime}, #{calendarDate}, #{sportEntriesNo}, now(), #{reservationStatus})
  		  	
  	</insert>
  	
  	<delete id="reservationDelete"
  			parameterType="int">
  		DELETE FROM t_reservation
  		WHERE reservation_no = #{reservationNo}  			
  	
  	</delete>
  	
  	<select id="fieldCalendarSelect"
  			parameterType="com.ezground.teamproject.facility.dto.FacilityCalendar"
  			resultType="com.ezground.teamproject.facility.dto.FacilityCalendar">
  		SELECT 
  			calendar_no AS calendarNo
  			,calendar_start_time AS calendarStartTime
  			,calendar_end_time AS calendarEndTime
  			,calendar_date AS calendarDate
  			,calendar_status AS calendarStatus
  		FROM t_facility_calendar
  		WHERE field_no = #{fieldNo}
  		ORDER BY calendar_no
  	</select>
  </mapper>