<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ezground.teamproject.reservation.ReservationMapper">
  
  	<select id="fieldSelectPage"
			parameterType="java.util.Map"
			resultType="com.ezground.teamproject.facility.dto.FacilityAndFacilityField">
		SELECT 
			a.field_no AS fieldNo
			,a.field_name AS fieldName
			,a.field_size AS fieldSize
			,a.field_people_number AS fieldPeopleNumber
			,a.field_price AS fieldPrice
			,b.facility_no AS facilityNo
			,b.facility_address	AS facilityAddress				
		FROM t_facility_field a INNER JOIN t_facility b
		ON a.facility_no = b.facility_no
		WHERE sport_entries_name = #{sportEntriesName}
		<if test="searchWord != null">
			WHERE field_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		ORDER BY a.field_no
		LIMIT #{startRow}, #{rowPerPage}	
	</select>
	
	<select id="fieldSelectCount"
  			resultType="int">
  		SELECT 
  			count(*) 
  		FROM t_facility_field
  	</select>
  
  	<select id="fieldSelectListDetail"
  			parameterType="int"
  			resultType="com.ezground.teamproject.facility.dto.FacilityAndFacilityField">
  		SELECT
  			a.field_no AS fieldNo
  			,a.field_name AS fieldName
  			,a.field_size AS fieldSize
  			,a.field_people_number AS fieldPeopleNumber
  			,a.field_price AS fieldPrice
  			,b.facility_no AS facilityNo
  			,b.facility_address AS facilityAddress
  			,b.facility_notice AS facilityNotice
  			,b.facility_detail AS facilityDetail
  			,b.facility_price AS facilityPrice
  			,b.facility_refund AS facilityRefund
  			,b.facility_rule AS facilityRule
  		FROM t_facility_field a INNER JOIN t_facility b
  		ON a.facility_no = b.facility_no
  		WHERE field_no = #{fieldNo}  					
  	</select>  	
  	
  	<select id="reservationSelect"
  			parameterType="com.ezground.teamproject.reservation.dto.Reservation"
  			resultType="com.ezground.teamproject.reservation.dto.Reservation">
  		SELECT
  			a.field_name AS fieldName
  			,a.field_price AS fieldPrice
  			,b.facility_address AS facilityAddress
  			,c.calendar_start_time AS calendarStartTime
  			,c.calendar_end_time AS calendarEndTime
  			,c.calendar_date AS calendarDate
  		FROM t_facility_field a INNER JOIN t_facility b ON a.facility_no = b.facility_no
  								INNER JOIN t_facility_calendar c ON a.field_no = c.field_no  			 					 
  		WHERE a.field_no = #{fieldNo} AND c.calendar_no = #{calendarNo}  			
  	</select>	  	
  </mapper>